<%- include ('../partials/header') %> 
<%- include ('../partials/nav') %> 

<header class="home-header">
    <div class="container">
        <div class="showcase">
            <div class="slide-show">
                <div class="images">
                   <img class="my-slides" src="/public/images/img1.jpg" alt="">
                   <img class="my-slides" src="/public/images/img2.jpg" alt="">
                   <img class="my-slides" src="/public/images/img3.jpeg" alt="">
                   <img class="my-slides" src="/public/images/img4.jpeg" alt="">
                   <img class="my-slides" src="/public/images/img5.jpeg" alt="">
                </div>
        
            </div>
        </div>

        <section class="posts">
            <% if(posts){%>
                <% posts.forEach(post=>{ %>
                    <div class="images">
                        <div class="img">
                            <img src="<%= post.image%>" alt="">
                        </div>
                        <div class="name">
                            <p><%= post.name%></p>
                        </div>
                        <div class="cate">
                            <p><%= post.category%></p>
                        </div>
                        <div class="description">
                            <p><%= post.desc.substring(0, 50)%></p>
                        </div>
                        <div class="readmore">
                            <a href="readmore/<%= post._id%>">readmore</a>
                        </div>
                    </div>
                <% }) %> 
            <% } %> 
        </section>
        
    </div>
</header>





<%- include ('../partials/footer') %> 
